/**{
	background: rgba(0,0,0,.2);
	border: 1px solid black ;
	min-height: 80 px;
}


/*==================================*/
/*             COLORS               */
/*==================================*/

body > header a {
	color: ##424141;
}

body > header a:hover,
body > footer a:hover {
	transition: all .3s;
	color: #ffb10b;
}


header a ,
.accroche p,
.bandeau p ,
.bandeau h1 ,
.getstarting h1,
.btn,
body > footer a {
	color: #fff
}


.btn {
	border: 1px solid #fff;
}

.btn:hover {
	transition: all .3s;
	background: #ffb10b;
}


.marketplace h1,
.marketplace p ,
.socialmedia h1 {
	color : #232323;
}

body > header ,
.features {
	background: #fff;
}

.marketplace,
.socialmedia {
	background: #ffb10b;
}


.bandeau {
	background: #2E64FE;
	
}
 

header ,
.accroche {
	background: #6A0888;
}




body > footer {
	background: #232323;
}





/*==================================*/
/*             FONTS              */
/*==================================*/

body > header p,
body > header a,
main p,
main a,
body > footer a,
figcaption {
	font-size: 1rem ;
}

main h2 {
	font-size: 1.33rem; /*font size du p x 4/3 */
/font-size: 4rem;
}
main h1 {
	font-size: 3rem; /*font size du h2 x 4/3 */
}
.content h1 {
	font-size: 1.33rem;
}

/*pr faire l'espace entre les blocs*/
body {
	font-size: 0;
}

h1, h2, p, ul {
	margin-top: 0 ;
}

.bandeau ,
.marketplace ,
.features, 
.getstarting, 
.socialmedia {
	padding-top: 4rem ;
	padding-bottom: 4rem ;

}

body > header,
body > footer {
	padding-top: 1rem ;
	padding-bottom: 1rem ;
}



/*==================================
/*             LAYOUT               */
/*==================================*/

*{
 	box-sizing: border-box; /*permet d'inclure le padding et le border dans le widht*/
 	
}
.col-1 {
	width: calc(100%/12*1);
}

.col-2 {
	width: calc(100%/12*2);
}

.col-3 {
	width: calc(100%/12*3);
}

.col-4 {
	width: calc(100%/12*4);
}

.col-5 {
	width: calc(100%/12*5);
}

.col-6 {
	width: calc(100%/12*6);
}

.col-7 {
	width: calc(100%/12*7);
}

.col-8 {
	width: calc(100%/12*8);
}

.col-9 {
	width: calc(100%/12*9);
}

[class*="col"] {
	display: inline-block;
	padding-left: 1rem ;
	padding-right: 1rem;
	vertical-align: top ;

}
img {
	width: 100% ;
}

figure {
	margin: 0;
}

.container {
	max-width: 1240px;
	margin: auto;
}



/*==================================*/
/*             BOUTTONS              */
/*==================================*/


.btn {
	display: inline-block;
	padding: .5rem 1rem ;
	font-size: 1.2rem ;
	border-radius: 20px ; /*arrondir les bouttons*/
	text-transform: uppercase;
}


/*==================================*/
/*             HEADER               */
/*==================================*/

nav li {
	display: inline-block;
}

nav ul {
	text-align: right;
}

nav a {
	display: inline-block;
	padding: .5rem 1rem;
}



/*==================================*/
/*             MAIN                 */
/*==================================*/

/*  bandeau  */


.marketplace ,
.features,
.socialmedia {
	text-align: center;
}


.marketplace h1 {
	font-size: 2rem ;
}


.marketplace ul,
.socialmedia ul {
	padding-left: 0; /*on a supprimeé le padding car ul a un padding left par defaut (si on veut mettre des numéros*/ 
}


 .marketplace li,
 .socialmedia li {
 	list-style: none;
 	width: 12% ;
 	display: inline-block;
 	margin-left: 1rem ;
 	margin-right: 1rem ;
 }


 .socialmedia li {
 	width: 5% ;
 	margin-left: .5rem ;
 	margin-right: .5rem ;
 }

.getstarting {
	background: url('../assets/img/bg.jpg') center center no-repeat ;
	background-size : cover ;
	;
}

.galerie div{
	padding: 0 ;
}
.accroche {
	height: 100px;
}

.accroche p{
	padding-top: 30px;
}
/*==================================*/
/*             FOOTER               */
/*==================================*/

body > footer {
	text-align: center;
}

body > footer ul {
	padding: 0 ;
}
 body > footer li {
 	display: inline-block;
 }



