/*===================================================================*/
/*debut mon changement*/

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
    padding-bottom: 0;
}

/* Basic Styles */

nav {
  height: 100%;
  width: 100%;
  background: #011;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid #283744;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: left;
  text-decoration: none;
  line-height: 20px;
  text-shadow: 1px 1px 0px #283744;
}
nav li a {
  border-right: 1px solid #576979;
  box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}
nav a:hover, nav a:active {
  /*background-color: #8c99a4;*/
}
nav a#pull {
  display: none;
}

/*Styles for screen 600px and lower*/
/*@media screen and (max-width: 600px) {
  nav { 
      height: auto;
    }
    nav ul {
      width: 100%;
      display: block;
      height: auto;
    }
    #clearfix {
      padding-top: 0;
      padding-bottom: 0;
    }
    nav li {
      width: 50%;
      float: left;
      position: relative;
    }
    nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
}*/

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 640px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    background: url('../assets/img/nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #576979;
  }
}
/* fin mon changement*/
.bandeau{
  background-color: #4dccff;
}
.accroche{
  background-color: #000;
}
.accroche a{
  background-color: #ff3399;
}
.bandeau,
.accroche {
  color: #FFF;
}
.bandeau h1{
  font-size: 40px;
}

.bandeau a,
.accroche a{
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  padding-top: 25px;
  color: #FFF;
}

/*@media only screen and (max-width : 640px) {
  .galerie img{

    width: 100%;
    padding: 0;
   display: block;
  }
}
*/
.galerie{
 /* height: 300px;*/
  padding-top: 0;
}
.galerie img{
  padding: 0;
}
.bandeau{
  padding-top: 0;
}
.accroche {
 /* height: 300px;*/
  padding: 0;
}
/*.content div p{
  display: inline-block;
}*/

footer ul li{
  display: inline-block;

}
footer ul{
  text-align: center;;
  
}
