* {

	margin: 0;
}


p {
	background: #E60DD4;
	}

strong, a { background: orange;
	height: 500px;

}
/*propriété margin : raccourcis de margin-top, margin-bottom, margin-left et margin-right*/

/*
margin-top : 50px;
margin-bottom: 30px;
margin-left: 20px;
margin-right: 40px;

margin: 50px 40px 30 px;
margin: 50px 40px; 50 px en top et bottom puis 40px en right et left
margin: 40px ; ici 40px tout autours
*/

/* pareil pour padding !! */