main {
	font-size: 0 ; 
}
.column {
	display: inline-block;
	font-size: 1em;
	font-size: 1rem;
}

.w33 {
	width: 33.3333%;
}

.inColumn{
	padding: 0 1rem ;
	/*on a bien laissé les margin top et bottom du user agent en em*/

}

h1 {
	font-size: 2rem;
}
	