/* selecteur simple*/
p{
	/*cibler tous les p du dom*/
	background: red;
}
/*selecteur d'id*/
#green {
	/* cible l'element html qui porte l'attribbut id= "green */
	background: green;
}
/*slecteur de class*/
.purple {
	/* cible de tous les elements du dom qui ont un attributs class="purple" */
	background: purple;
}

/* selecteur d'un attribut*/
[href] {
	/*cible tous les elements du nom qui ont un attribut href */
	background: orange;
}

[href="pages/page1.html"] {
	/* cible tous les elements du dom un attribut href="pages/page1.html */
	background: yellow;
}

[href*="http"] {
	/* cible tous les elements du dom un attribut href dont la valeur contient la chaine http */
	background: yellow;
}

/*les selecteurs d'adjascence*/
.container p {
	/*cible tous les p descendant d'un class="container" */
	background: pink ;
}

.container > p{
	/* tous les p du dom enfant direct d'une class="container"*/
	background: brown;
}

/*ecrire un selecteur css pr cibler ts les p descendants d'un article enfant direct de .contenair */
.container article p{
	background: violet;
}

/*ecrire un selecteur css pr cibler ts les p enfant direct d'un article enfant direct de .contenair */
.container > article > p{
	background: blue;
}

.container article > div + p{
/*cible p frère suivant d'un div lui mem enfant direct d'un article */
	background: grey;
}

p.ilesttard {
	/*cible tous les p du dom qui ont l'attribut class="ilesttard" */
	background: black ;
}

.ilesttard {
	/*cible tous les elements de dom qui ont l'attribut class="ilesttard" */
	background: yellow ;
}

/*pseudo selecteur*/
.test p:first-child {
	/*cible 1er enfant p descendant d'un elmt class="test" */
	background: orange ;
}

.test p:nth-child(2) {
	/*cible 2eme enfant p descendant d'un elmt class="test" */
	background: purple ;
}

.test p:last-child {
	/*cible dernier enfant p descendant d'un elmt class="test" */
	background: red ;
}

a{
	color: orange;
}
a:hover {
	color: blue ;
}