p{
	background: red;
}
.green {
	background: green ;
}

p{
	background: blue;
}


[class="green"] {
	background: purple;

}

#pink {
	background: pink;
}
.green {
	background: green ;
}

p:first-of-type { 
	/*cible premier elmt de type p*/
	background: brown;
}