*{
	background: rgba(0,0,0,.2);
	border: 1px solid black ;
	padding-top: 1rem;
	padding-bottom: 1rem
}
.container {
max-width: 1000px;
margin: auto;
}


.flex {
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: nowrap; /*default value*/
	/*flex-wrap: wrap;*/
	/*flex-wrap: wrap-reverse;*/
	/*flex-flow: nowrap;
	justify-content: flex-start;
	justify-content: flex-end;*/
	align-content: center;


}