header {
	background: blue;
	font-size: 0;
	color: white;
}

main {
	background: red ;
	font-size: 0;
}

footer {
	background: green ;
	font-size: 0;
	color: white;
	padding: 1rem, 0;
}

.column {
	background: grey ;
	display: inline-block;
	font-size: 1rem;
}
.w25{
	width: 25%;
}
.w75{
	width: 25%;
}
.w33 {
	width: 33.3333%;
}
.w50 {
	width: 50%;
}
.inColumn{
	padding: 0 1rem ;
}
h1 {
	font-size: 2rem;
	padding: 0 1rem ;
}
	
.cWhite {
	color: white ;
}
.cGrey {
	color: grey ;
}