@function columns($lColumn, $nbColumns:$nbMaxColumns) {
	$basis: 100% / $nbColumns * $lColumn;
	@return $basis ;
}


* {
	box-sizing: border-box; /* pr que les .col de -1 à -12 soient cote à cote*/
}
.container {
max-width: 1000px;
margin: auto;
}


.container {
	max-width: $container-width;
	margin: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}

.container-fluid {
	padding-right: $gutter-width;
  	padding-left: $gutter-width;
  	width: $container-fluid-width;
}

.container-fluid .container {
	padding-right: 0;
  	padding-left: 0;
}

.row {
	display: flex;
  	flex-wrap: wrap;
  	margin-right: -$gutter-width;
  	margin-left: -$gutter-width; 
}

[class*="col"] {
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}

.col {
  
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1 ;
}

.col-auto {
    flex: 0 0 auto; /*reccourcis de flex-grow flex shrink flex-basis*/
    /*flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;*/
}
@for $i from 1 through $nbMaxColumns {
		.col-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}

/*.col-1 {
	flex: 0 0 8.333333%;
}


.col-2 {
  -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  
      flex: 0 0 33.333333%;
  
}

.col-5 {
  flex: 0 0 41.666667%;
  }

.col-6 {
  
    flex: 0 0 50%;
  
}

.col-7 {
  
    flex: 0 0 58.333333%;
  
}

.col-8 {
   flex: 0 0 66.666667%;
  }

.col-9 {
    flex: 0 0 75%;
  }

.col-10 {
    flex: 0 0 83.333333%;
  }

.col-11 {
    flex: 0 0 91.666667%;
  }

.col-12 {
    flex: 0 0 100%;
}
*/

@media (min-width: $sm-screen-breack-point) {

	.col-sm {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1 ;
	}

	.col-sm-auto {
	    flex: 0 0 auto; /*reccourcis de flex-grow flex-shrink flex-basis */
	}
	@for $i from 1 through $nbMaxColumns {
		.col-sm-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}	


@media (min-width: $md-screen-breack-point) {
	
	.col-md {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1 ;
	}

	.col-md-auto {
	    flex: 0 0 auto;
	}

	@for $i from 1 through $nbMaxColumns {
		.col-md-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}
@media (min-width: $lg-screen-breack-point) {
	
	.col-lg {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1 ;
	}

	.col-lg-auto {
	    flex: 0 0 auto;
	}

	@for $i from 1 through $nbMaxColumns {
		.col-lg-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}
@media (min-width: $xl-screen-breack-point) {
	
	.col-xl {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1 ;
	}

	.col-xl-auto {
	    flex: 0 0 auto;
	}

	@for $i from 1 through $nbMaxColumns {
	.col-xl-#{$i}
		{
			flex: 0 0 columns($i);
		}
	}
}